.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialAppsLogos{
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialAppLogo{
    opacity: 0.6;
    cursor: pointer;
}